<!doctype html>
<html>
<head>
  <link rel="stylesheet"
  href="/static/madlibs.css">
  <title>Game</title>
</head>
<body>

<h1>Welcome to Madlibs</h1>

<form action="/madlib">
  Name a person: <input type = "text" name = "game_person" class = "user_input">
  <br><br>
  Enter a color: <input type = "text" name = "game_color" class = "user_input">
  <br><br>
  Enter a noun: <input type = "text" name = "game_noun" class = "user_input">
  <br><br>
  Enter a adjective: <input type = "text" name = "game_adjective" class = "user_input">
  <br><br>
  <input type="submit">
</form>

</body>
</html>

<!-- If they said yes, render a different template, game.html. 
  The template game.html should have a simple form that asks for a person, 
  a color, a noun, and an adjective. How you choose to implement those 
  inputs is up to you, but you should feel free to mix and match. 
  (Hint: it might be fun to try one as a drop-down menu of choices). 
  This new form should have the action of /madlib. -->